@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 13% 96.1%;
    --foreground: 220 8.9% 10%;
    --card: 0 0% 100%;
    --card-foreground: 220 8.9% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 220 8.9% 10%;
    --primary: 212 100% 36.1%;
    --primary-foreground: 0 0% 98%;
    --secondary: 220 13% 91%;
    --secondary-foreground: 220 8.9% 10%;
    --muted: 220 13% 91%;
    --muted-foreground: 220 8.9% 40%;
    --accent: 122 39.4% 49.2%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 89%;
    --input: 220 13% 89%;
    --ring: 212 100% 36.1%;
    --radius: 0.5rem;
    --chart-1: 212 100% 36.1%;
    --chart-2: 122 39% 49%;
    --chart-3: 43 74% 66%;
    --chart-4: 27 87% 67%;
    --chart-5: 173 58% 39%;
    --sidebar-background: 220 8.9% 10%;
    --sidebar-foreground: 220 13% 96.1%;
    --sidebar-primary: 212 100% 66.1%;
    --sidebar-primary-foreground: 212 100% 20%;
    --sidebar-accent: 220 13% 20%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 220 13% 20%;
    --sidebar-ring: 212 100% 66.1%;
  }

  .dark {
    --background: 220 8.9% 10%;
    --foreground: 220 13% 96.1%;
    --card: 220 8.9% 12%;
    --card-foreground: 220 13% 96.1%;
    --popover: 220 8.9% 10%;
    --popover-foreground: 220 13% 96.1%;
    --primary: 212 100% 66.1%;
    --primary-foreground: 212 100% 20%;
    --secondary: 220 13% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 220 13% 15%;
    --muted-foreground: 220 13% 60%;
    --accent: 122 39.4% 49.2%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 20%;
    --input: 220 13% 20%;
    --ring: 212 100% 66.1%;
    --sidebar-background: 220 8.9% 10%;
    --sidebar-foreground: 220 13% 96.1%;
    --sidebar-primary: 212 100% 66.1%;
    --sidebar-primary-foreground: 212 100% 20%;
    --sidebar-accent: 220 13% 20%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 220 13% 20%;
    --sidebar-ring: 212 100% 66.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
